<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25154784684-oienh69e7e8q4si4ig7f6p9dfnda8ac9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25154784684-oienh69e7e8q4si4ig7f6p9dfnda8ac9</string>
	<key>API_KEY</key>
	<string>AIzaSyAgJRGtCzv76cI-mmSGt6eFKqU9wqiXWa8</string>
	<key>GCM_SENDER_ID</key>
	<string>25154784684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newfamly</string>
	<key>PROJECT_ID</key>
	<string>newfamly-8d04d</string>
	<key>STORAGE_BUCKET</key>
	<string>newfamly-8d04d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25154784684:ios:d749f32bfe53df071a7e09</string>
</dict>
</plist>